.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    transition: width 2s ease-in-out;
}
.box:hover{
    width: 400px;
}
.container{
    background-color: blue;
    height: 300px;
    width: 300px;
    transform: skewX(30deg);
    animation: box 2s linear infinite;
}
@keyframes box{
    0%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotateX(50deg);
    }
    100%{
        transform: rotateX(90deg);
    }
}
.child{
    display: grid;
    grid-template-columns: 300px 200px 50px;
    grid-template-rows: 100px 100px;
    grid-gap: 50px;
    background-color: yellow;
}
.a{
   background-color: blueviolet; 
   grid-row: 1/3;
}
.b{
   background-color: blueviolet; 
}
.c{
   background-color: blueviolet; 
}
.d{
   background-color: blueviolet; 
}
.e{
   background-color: blueviolet; 
}
.f{
   background-color: blueviolet; 
}
.me p { 
    color: blue;
    font-family: 'Times New Roman';
    font-weight: bolder;
    font-size: xx-large;
}
.you > p   {

    color: blue;

    font-family: sans-serif;

    font-weight: bold;

   }
  .our h2+p {

    color: blue;

    font-family: sans-serif;

    font-weight: bold;

}
button~p {

    color: blue;

    font-family: sans-serif;

    font-weight: bold;

}